.container-fluid {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 25vw;
    background-color: #ebecf0;
}